@font-face {
    font-family: 'exo_2regular';
    src: url('/Fonts/exo2-regular-webfont.woff2') format('woff2'),
         url('/Fonts/exo2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exo_2extra_light';
    src: url('/Fonts/exo2-extralight-webfont.woff2') format('woff2'),
         url('/Fonts/exo2-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, p {
  font-family: 'exo_2regular';
}

hr {
  max-width: 1000px;
}

.site-title li a img {
  height: 55px;
  width: auto;
  margin-left: -100px;
}

.site-title li a:hover {
  background-color: #000 !important;
}

@media (max-width: 1310px) {
  .site-title li a img {
    margin-left: 0;
  }
}

.nav li h5 {
  margin-top: 2.5px;
  padding-right: 430px;
  color: #fff;
  font-family: 'exo_2extra_light';
  text-transform: uppercase;
  letter-spacing: 6px;
}

.nav li h5 img {
  padding-right: 6px;
}

@media (max-width: 1199px) {
  .nav li h5 {
    padding-right: 100px;
  }
}

@media (max-width: 991px) {
  .nav li h5 {
    padding-right: 0px;
  }
}

.links li {
  padding-top: 20px;
}

.posts h3 a {
  color: #fff;
  font-family: 'exo_2regular';
  text-transform: uppercase;
}

.posts p {
  font-family: 'exo_2regular';
}

.bg-home {
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
  -webkit-filter: blur(0px);
}

.section {
  background: #fff;
  padding: 30px 0;
}

.section-break {
  padding: 80px 0;
}

.header-break {
  padding-top: 80px;
}

.site-footer {
  color: #fff;
  text-shadow: #444 0 1px 1px;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.fa {
  color: #fff;
}

.footer-channels{
  padding: 15px 0;
}

.footer-channels li {
  display: inline;
  padding: 0px 5px;
}

.sitemap {
  margin-top: -1px;
  padding-left: 40px;
}

.sitemap h2 {
  color: #fff;
  font-family: 'exo_2regular';
  text-transform: uppercase;
}

.sitemap ul {
  list-style: none;
}

.sitemap ul li a {
  color: #fff;
  font-family: 'exo_2regular';
}

.sitemap ul li a:hover {
  color: #777;
  text-decoration: none;
}

.custom-modal {
  background: rgb(0,0,0); /* for IE */
  background: rgba(0, 0, 0, 0.5);
}

.custom-modal h4 {
  color: white;
  font-family: 'exo_2regular';
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
  border-color: transparent;
}

.navbar li a {
  color: #fff;
  font-family: 'exo_2regular';
}

.navbar li a:hover {
  color: #000;
  background-color: #fff;
}

.navbar button {
  background: #000;
  border-color: #fff;
  border-radius: 2px;
}

.carousel-indicators li {
  background-color: #999 !important;
  background-color: rgba(90,90,90,.25) !important;
  border-color: transparent !important;
}

.carousel-indicators .active {
  background-color: rgba(90,90,90,.5) !important;
  border-color: transparent !important;
}

.glyphicon {
  color: #222;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

iframe {
  height: 700px;
  width: 100%;
}

.section-title {
  padding-left: 50px;
  font-family: 'exo_2regular';
  text-transform: uppercase;
}

.posts h2 {
  font-family: 'exo_2regular';
  text-transform: uppercase;
}

.footer-hr {
  color: #333;
  border-color: #333;
  max-width: 1200px;
}

.contact-info h2 {
  text-transform: uppercase;
  color: #fff;
  font-family: 'exo_2regular';
}

.contact-info h5 {
  color: #fff;
  font-family: 'exo_2regular';
}

.contact-info a {
  color: #fff;
  font-family: 'exo_2regular';
}

.contact-info a:hover {
  color: #777;
  text-decoration: none;
}

.footer-channels li a i:hover {
  color: #777;
}

.company-info {
  color: #fff;
  font-family: 'exo_2regular';
  padding-bottom: 1   0px;
}

.company-info p {
  font-size: .9em;
  color: #333;
  text-shadow: none;
}

.company-info a {
  color: #333;
  font-family: 'exo_2regular';
  text-shadow: none;
}

.company-info a:hover {
  color: #777;
  text-decoration: none;
}
